<app-breadcrumb [title]="'Forget Password'" [breadcrumb]="'Forget Password'"></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>{{'Forget Your Password' | translate}}</h2>
                <form class="theme-form theme-card" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
                        </div>
                    </div>
                    <button class="btn btn-solid" [disabled]="forgotPasswordForm.invalid">{{'Reset Password' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->