.filter-btn {
  // display: flex;
  // margin-top: -162px;
  font-size: 24px;
  // z-index: 9999;
}

.menu-min-width {
  min-width: 132px;
}

.header-min-width {
    min-width: 185px;
}

.menu-text {
  display: inline-block;
  min-width: 8ch; /* reserve 6 characters of width */
}