<app-breadcrumb [title]="'วิธีการเก็บเมล็ดพันธุ์'" [breadcrumb]="'วิธีการเก็บเมล็ดพันธุ์'"></app-breadcrumb>
<!--section start-->
<section class="blog-detail-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">
                <img [src]="this.storingseedsImg" [attr.srcset]="this.srcset" sizes="{{this.sizes}}" class="img-fluid" alt="วิธีการเก็บเมล็ดพันธุ์ หลังจากเปิดซอง" width="1370" height="385" priority/>
                <h3>วิธีการเก็บเมล็ดพันธุ์ หลังจากเปิดซอง</h3>
                <ul class="post-social">
                    <li>01 {{'March' | translate }} 2023 </li>
                    <li>{{'Posted By' | translate }} : Herbist Admin </li>
                    <li><i class="fa fa-heart"></i> {{count}} Hits </li>
                </ul>
                <h4>วิธีการเก็บเมล็ดพันธุ์ หลังจากเปิดซอง</h4>
                <ol>
                    <li>นำซองเมล็ดพันธุ์ที่เหลือ ใส่ถุงซิปล็อค หรือภาชนะที่ปิดฝาได้สนิท โดยที่อากาศ ไม่สามารถเข้าไปได้
                        เพื่อป้องกันความชื้นภายในตู้เย็น</li>
                    <li>นำภาชนะที่บรรจุซองเมล็ดพันธุ์ เก็บไว้ในส่วน ช่องผักของตู้เย็น เพื่อควบคุมอุณหภูมิและความชื้น
                        ซึ่งสามารถช่วยยืดอายุของเมล็ดพันธุ์ ได้นานขึ้น</li>
                </ol>
                <div class="row section-b-space blog-advance">
                    <div class="col-lg-12">
                        <img [src]="this.storingseeds_detailsImg" [attr.srcset]="this.srcset" sizes="{{this.sizesSubImg}}" class="img-fluid" alt="วิธีการเก็บเมล็ดพันธุ์ หลังจากเปิดซอง" width="1600" height="1200"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->