<div class="container">
  <ul class="nav nav-pills nav-justified nav-hide">
    @for (step of steps; track $index) {
    <li class="nav-item">
      <button
        (click)="onClick($index)"
        [disabled]="true"
        [class.active]="selectedIndex === $index"
        class="nav-link text-uppercase font-weight-bold btn-block btn"
        style="padding: 1.2em"
      >
        {{ step.label }}
      </button>
    </li>
    }
  </ul>
  <div>
    <ng-container [ngTemplateOutlet]="selected!.content"></ng-container>
  </div>
</div>
