<app-breadcrumb [title]="'Reset Password'" [breadcrumb]="'Reset Password'"></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>{{'Reset Your Password' | translate}}</h2>
                <form class="theme-form theme-card" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <app-text-input formControlName="Password" [label]="'New Password'" [type]="'password'"></app-text-input>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <app-text-input formControlName="ConfirmPassword" [label]="'Confirm New Password'" [type]="'password'"></app-text-input>
                        </div>
                    </div>
                    <div class="mb-3">
                        <ul class="text-danger list-unstyled" *ngIf="this.errors">
                            <li *ngFor="let error of this.errors">
                                {{error}}
                            </li>
                        </ul>
                    </div>       
                    <button class="btn btn-solid" [disabled]="resetPasswordForm.invalid">{{'Change Password' | translate}}</button>
                    <div class="row mt-3">
                        <p>{{'Password must have at least' | translate}} <b>{{'8 characters' | translate}}</b> <b>{{'with at least 1 capital letter' | translate}}</b>, <b>{{'at least 1 lower case letter' | translate}}</b> {{'and' | translate}} <b>{{'at least 1 number or 1 special character' | translate}}</b></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->