<app-breadcrumb [title]="'เพาะเมล็ด โรสแมรี่'" [breadcrumb]="'เพาะเมล็ด โรสแมรี่'"></app-breadcrumb>
<!--section start-->
<section class="blog-detail-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">
                <img [src]="this.rosemaryImg" [attr.srcset]="this.srcset" sizes="{{this.sizes}}"  class="img-fluid" alt="เพาะเมล็ด โรสแมรี่" width="1370" height="385" priority/>
                <h3>เพาะเมล็ด โรสแมรี่</h3>
                <ul class="post-social">
                    <li>01 {{'March' | translate }} 2023 </li>
                    <li>{{'Posted By' | translate }} : Herbist Admin </li>
                    <li><i class="fa fa-heart"></i> {{count}} Hits </li>
                </ul>
                <p>การเพาะเมล็ด โรสแมรี่และการเพาะเมล็ด ลาเวนเดอร์ให้งอกนั้นไม่ได้ยากจนเกินไปหากเรามีเมล็ดพันธุ์ที่ดีและทราบถึงวิธีในการเพาะเมล็ดที่ถูกต้อง ก่อนอื่นต้องทราบก่อนว่า โดยธรรมชาติของเมล็ดโรสแมรี่และลาเวนเดอร์นั้นจะมีเปอร์เซ็นต์งอกที่ค่อนข้างต่ำอยู่แล้ว ดังนั้นไม่ควรเก็บเมล็ดโรสแมรี่ไว้นาน (โดยเฉพาะอย่างยิ่งเมล็ดไพร์ม โรสแมรี่ควรเพาะให้หมดในทีเดียว ไม่ควรเก็บไว้นานเกิน 1 เดือน) เมื่อทราบแล้ว เรามาเพาะเมล็ดไปพร้อมๆกัน</p>
                <h4>วัสดุและอุปกรณ์ที่ต้องเตรียมสำหรับการเพาะเมล็ด</h4>
                <ol>
                    <li>เมล็ดพันธุ์โรสแมรี่ 1 ซอง</li>
                    <li>กระดาษทิชชู่งานครัว</li>
                    <li>ภาชนะใสที่ใช้เพาะเมล็ดแบบมีฝาปิด หรือภาชนะใสที่ใช้เพาะเมล็ด + ฟิล์มถนอมอาหาร</li>
                    <li>กระบอกฉีดน้ำ หรือ ฟ๊อกกี้</li>
                    <li>พีทมอสและกระถางขนาดเล็กหรือถาดเพาะเมล็ดที่มีหลายช่อง (สำหรับอนุบาลหลังเมล็ดงอก)</li>
                </ol>
                <h4>วิธีการเพาะเมล็ด โรสแมรี่และลาเวนเดอร์</h4>
                <ol>
                    <li>ขั้นแรก นำกระดาษทิชชู่งานครัววางลงในภาชนะใสที่ใช้เพาะเมล็ด จากนั้นพรมน้ำให้ชุ่ม</li>
                    <li>หยอดเมล็ดโรสแมรี่ลงในกระดาษทิชชู่</li>
                    <li>นำกระดาษทิชชู่งานครัวอีก 1 แผ่นปิดทับลงบนเมล็ดโรสแมรี่ที่หยอดลงไป</li>
                    <li>พรมน้ำให้ทั่วกระดาษทิชชู่อีก 1 รอบ(ทั้งกระดาษทิชชู่แผ่นบนและแผ่นล่าง)</li>
                    <li>นำฝาภาชนะใสที่ใช้เพาะเมล็ดมาปิด หากไม่มีสามารถใช้ฟิล์มถนอมอาหารปิดทับภาชนะที่ใช้เพาะเมล็ดเพื่อรักษาอุณหภูมิและความชื้นให้คงที่</li>
                    <li>นำภาชนะที่ใช้เพาะเมล็ดวางในที่ที่มีแสงสว่าง(ยิ่งสว่างยิ่งดี แต่ต้องไม่โดนแดดโดยตรง) และรักษาความชื้นจนกว่าเมล็ดจะงอก ซึ่งอาจใช้ระยะเวลา 7-21 วันโดยประมาณ บางเมล็ดอาจใช้เวลามากกว่า 1 เดือน ดังนั้นห้ามใจร้อน</li>
                    <li>นำพีทมอสใส่กระถางขนาด 2-4 นิ้ว จากนั้นใช้นิ้วกดพีทมอสด้านบนเบาๆเตรียมรอไว้</li>
                    <li>เมื่อต้นกล้าเริ่มงอกออกมา 1-2 มิลลิเมตร(หรือเมื่อเราสังเกตเห็น) ให้นำเมล็ดที่งอกหยอดลงในกระถางขนาดเล็กที่ใส่พีทมอสเตรียมไว้(ควรพรมน้ำพีทมอสให้ชุ่มก่อนหยอดเมล็ด) อาจใส่กระถางละ 1-3 เมล็ดหรือจำนวนตามต้องการ</li>
                    <li>วางถาดเพาะเมล็ดในที่ที่มีแสงแดดรำไร โดยกระถาง 2-4 นิ้วสามารถใช้อนุบาลต้นกล้าได้ 2 เดือน หลังจากต้นกล้าสูง 1-2 นิ้ว ให้ทำการย้ายต้นกล้าไปปลูกยังกระถางที่ใหญ่ขึ้นอย่างระมัดระวังโดยอย่าให้รากเสียหาย ควรวางต้นกล้าไว้บริเวณที่มีแสงแดดรำไรเพื่อให้ต้นกล้าคุ้นชินกับแสงแดดก่อนทำการย้ายต้นกล้าไปยังสถานที่ปลูกกลางแจ้ง</li>
                    <li>เมล็ดโรสแมรี่ที่เหลือให้ทำการพรมน้ำ(พรมน้ำแค่พอชุ่มชื้นและไม่แฉะ) รักษาความชื้นและแสงสว่างอย่างสม่ำเสมอ เมล็ดก็จะสามารถงอกเพิ่มได้อีก (ควรเปิดฝาหรือฟิลม์ถนอมอาหารและตรวจสอบความชื้นวันละ 1-2 ครั้งทุกวัน หากกระดาษทิชชู่ยังชื้นอยู่ ไม่ต้องพรมน้ำเพิ่ม)</li>
                </ol>
                <h4 style="color: red;">!!! ข้อควรระวัง !!! ห้ามภาชนะที่ใช้เพาะเมล็ดโดนแดดโดดตรงเด็ดขาด หากทิ้งให้โดดแดดโดยตรง อุณหภูมิภายในภาชนะจะร้อนมากกว่า 45 องศา ซึ่งจะทำให้เมล็ดพันธุ์เสียหายภายในและไม่งอกอีกเลย (ผ่านการทดสอบมาแล้ว)</h4>
                
                <div class="row section-b-space blog-advance">
                    <div class="col-lg-6">
                        <img [src]="this.rosemary4Img" [attr.srcset]="this.srcset" sizes="{{this.sizesSubImg}}" class="img-fluid" alt="เพาะเมล็ด โรสแมรี่" width="1000" height="591"/>
                    </div>
                    <div class="col-lg-6">
                        <img [src]="this.rosemary5Img" [attr.srcset]="this.srcset" sizes="{{this.sizesSubImg}}" class="img-fluid" alt="เพาะเมล็ด โรสแมรี่" width="1000" height="591"/>
                    </div>
                </div>
                <div class="row section-b-space blog-advance">
                    <div class="col-lg-6">
                        <img [src]="this.rosemary6Img" [attr.srcset]="this.srcset" sizes="{{this.sizesSubImg}}" class="img-fluid" alt="เพาะเมล็ด โรสแมรี่" width="1000" height="591"/>
                    </div>
                    <div class="col-lg-6">
                        <img [src]="this.rosemary7Img" [attr.srcset]="this.srcset" sizes="{{this.sizesSubImg}}" class="img-fluid" alt="เพาะเมล็ด โรสแมรี่" width="1000" height="591"/>
                    </div>
                </div>
                <div class="row section-b-space blog-advance">
                    <div class="col-lg-6">
                        <img [src]="this.rosemary8Img" [attr.srcset]="this.srcset" sizes="{{this.sizesSubImg}}" class="img-fluid" alt="เพาะเมล็ด โรสแมรี่" width="1000" height="591"/>
                    </div>
                    <div class="col-lg-6">
                        <img [src]="this.rosemary3Img" [attr.srcset]="this.srcset" sizes="{{this.sizesSubImg}}" class="img-fluid" alt="เพาะเมล็ด โรสแมรี่" width="1000" height="591"/>
                    </div>
                </div>
                <h4>ทิป</h4>
                <p>เมล็ดพันธุ์ Rosemary จะใช้เวลาในการงอกค่อนข้างนาน เพื่อให้ง่ายต่อการดูแล เราแนะนำให้เพาะเมล็ดก่อนทำการลงปลูกในกระถาง หลังจากที่ต้นกล้าเริ่มแข็งแรงหรือมีความสูง 2-3 นิ้ว ควรนำต้นกล้าออกปลูกภายนอกในสถานที่ที่มีแสงแดดส่องถึง อากาศถ่ายเทได้สะดวก โดยใช้กระถางที่ระบายน้ำได้เร็ว วัสดุปลูกที่มีความร่วนซุยสูงและระบายน้ำได้ดี เนื่องจากต้น Rosemary ไม่ชอบให้รากเปียกชื้นเป็นเวลานาน สำหรับสภาพอากาศในประเทศไทย ควรปลูกในกระถางขนาด 12 นิ้วขึ้นไปเป็นอย่างยิ่ง สามารถปลูกลงดินได้เช่นกัน แต่สภาพพื้นดินบริเวณรอบๆต้องระบายน้ำได้ดีเยี่ยมและไม่เป็นแอ่งน้ำขัง</p>
                <h4>เก็บเกี่ยวและใช้งาน</h4>
                <p>เก็บเกี่ยวกิ่งและใบสดได้เมื่อโตเต็มที่ นิยมนำใบมาทำเป็นชา และสามารถใช้ประกอบอาหารในเมนูสลัด ซุป ผัก เนื้อ หรือกระทั่งเมนูย่าง กลิ่นหอมของ Rosemary เข้ากันได้ดีกับมะเขือเทศ มะเขือม่วง มันฝรั่ง ซูกินี และยังมีสรรพคุณทางการแพทย์มากมายเช่น กำจัดพิษ ป้องกันภาวะหอบหืด ภาวะการเกร็งของทางเดินอาหาร รักษาโรคแผลในกระเพาะอาหาร ป้องกันหลอดเลือกแข็งตัว ภาวะหัวใจขาดเลือด ภาวะต้อกระจก และภาวะมะเร็ง และยังช่วยลดฤทธิ์การทำลายเซลล์ของอนุมูลอิสระหลายๆชนิดอีกด้วย</p>
                <h4>เพาะเมล็ดให้มากไว้ก่อน</h4>
                <p>สำหรับมือใหม่ บางคนอาจคิดว่าหากต้องการต้นโรสแมรี่จำนวน 10 ต้น แล้วลงมือเพาะเมล็ดจำนวน 10 เมล็ด คุณคิดผิดคุณอาจจะไม่ได้ต้นกล้าโรสแมรี่เลยสักต้นก็เป็นได้ เมล็ดโรสแมรี่จะไม่งอกง่ายเหมือนเมล็ดพันธุ์ผักสลัดหรือสมุนไพรฝรั่งประเภทอื่นๆ ดังนั้นควรเพาะครั้งละเยอะๆไว้ก่อนเพื่อเพิ่มเปอร์เซ็นต์การงอกนั่นเองและไม่เป็นการเสียเวลาด้วย</p>
                <div class="row section-b-space blog-advance">
                    <div class="col-lg-6">
                        <img [src]="this.rosemary2Img" [attr.srcset]="this.srcset" sizes="{{this.sizesSubImg}}" class="img-fluid" alt="เพาะเมล็ด โรสแมรี่" width="1000" height="591"/>
                    </div>
                    <div class="col-lg-6">
                        <img [src]="this.rosemary1Img" [attr.srcset]="this.srcset" sizes="{{this.sizesSubImg}}" class="img-fluid" alt="เพาะเมล็ด โรสแมรี่" width="1000" height="591"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->