<!-- side-bar single product slider start -->
<div class="theme-card">
  <h4 class="title-border">{{ title | translate }}</h4>
  <owl-carousel-o [options]="NewProductSliderConfig" class="offer-slider">
    <ng-container *ngFor="let product of products | slice : 0 : 3">
      <ng-template carouselSlide [width]="512">
        <div>
          <div
            class="d-flex align-items-center"
            *ngFor="let product of products | slice : 0 : 3"
          >
            <a
              [routerLink]="['/shop/product/', product.id]"
              attr.aria-label="{{ product.name }}"
            >
              <img
                class="img-fluid w-auto"
                [src]="product.images[0].src!"
                [attr.srcset]="this.productSrcset"
                sizes="{{ this.productSizes }}"
                width="1280"
                height="1588"
                alt="{{ product.name }}"
              />
              <!-- <img class="img-fluid w-auto" [defaultImage]="'assets/images/product/placeholder.jpg'" [lazyLoad]="product.images[0].src" alt=""> -->
            </a>
            <div class="media-body align-self-center">
              <!-- <bar-rating [rate]="5" [readOnly]="true"></bar-rating> -->
              <a [routerLink]="['/shop/product/', product.id]">
                <h5>{{ product.name.substring(0, 16) + "..." | titlecase }}</h5>
              </a>
              <h4>
                {{
                  product!.price * productService.Currency!.price
                    | discount : product
                    | currency : productService.Currency.currency : "symbol"
                }}
                @if(product?.discount) {
                <del>
                  <span class="money">
                    {{
                      product!.price * productService.Currency!.price
                        | currency : productService.Currency.currency : "symbol"
                    }}
                  </span>
                </del>
                }
              </h4>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide [width]="512">
        <div>
          <div
            class="d-flex align-items-center"
            *ngFor="let product of products | slice : 3 : 6"
          >
            <a
              [routerLink]="['/shop/product/', product.id]"
              attr.aria-label="{{ product.name }}"
            >
              <img
                class="img-fluid w-auto"
                [src]="product.images[0].src!"
                [attr.srcset]="this.productSrcset"
                sizes="{{ this.productSizes }}"
                width="1280"
                height="1588"
                alt="{{ product.name }}"
              />
              <!-- <img class="img-fluid w-auto" [defaultImage]="'assets/images/product/placeholder.jpg'" [ngSrc]="product.images[0].src!" alt=""> -->
            </a>
            <div class="media-body align-self-center">
              <a [routerLink]="['/shop/product/', product.id]">
                <h5>{{ product.name.substring(0, 16) + "..." | titlecase }}</h5>
              </a>
              <h4>
                {{
                  product?.price! * productService.Currency.price!
                    | discount : product
                    | currency : productService.Currency.currency : "symbol"
                }}
                @if(product?.discount) {
                <del>
                  <span class="money">
                    {{
                      product.price! * productService.Currency.price!
                        | currency : productService.Currency.currency : "symbol"
                    }}
                  </span>
                </del>
                }
              </h4>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
<!-- side-bar single product slider end -->
