<!-- thank-you section start -->
<section class="section-b-space light-layout">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>{{'Thank you' | translate}}</h2>
                    <p>{{'Confirm Payment is successfully submitted' | translate}}</p>
                    <!-- <p>Transaction ID:267676GHERT105467</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <p>{{'You will receive an email confirmation of your confirm payment once we verified your payment' | translate}}</p>
                    <!-- <p>Transaction ID:267676GHERT105467</p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->