<app-breadcrumb [title]="'Dashboard'" [breadcrumb]="'Dashboard'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mobileSidenav" [class.openSide]="this.openDashboard">
                <a href="javascript:void(0)" class="overlay" (click)="ToggleDashboard()"></a>
                <div class="dashboard-left" [class.open]="this.openDashboard">
                    <div class="collection-mobile-back" (click)="ToggleDashboard()">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> {{'Back' | translate}}
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a [routerLink]="['/pages/dashboard']">{{'Account Info' | translate}}</a></li>
                            <li class="active"><a [routerLink]="['/pages/dashboard/addressbook']">{{'Address Book' | translate}}</a></li>
                            <li><a [routerLink]="['/pages/dashboard/order']">{{'My Orders' | translate}}</a></li>
                            <li><a [routerLink]="['/pages/dashboard/changepassword']">{{'Change Password' | translate}}</a></li>
                            <li class="last"><a (click)="logout()" href="javascript:void(0)">{{'Logout' | translate}}</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-9" [formGroup]="addressBook">
                <div class="dashboard-right">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>{{'Address Book' | translate}}</h2>
                        </div>
                        <div class="welcome-msg">
                            <p>{{'You can manage your Default Billing Address and Default Shipping Address here.' | translate}}</p>
                        </div>
                        <div class="box-account box-info">
                            <!-- <div class="box-head">
                                <h2>Default Billing Address</h2>
                            </div> -->
                            <div>
                                <div class="box">
                                    <div class="box-title">
                                        <h3>{{'Default Address' | translate}}</h3>
                                        <!-- <a href="javascript:void(0)">Manage Addresses</a> -->
                                    </div>
                                    <form class="theme-form theme-card" formGroupName="defaultAddressForm" (ngSubmit)="onSubmit()">
                                        <div class="row mb-1">
                                            <div class="col-md-12">
                                                <div class="form-floating">
                                                    <input type="text" id="company_name"
                                                        formControlName="company_name" class="form-control" id="company_name"
                                                        placeholder="Company Name (Optional)">
                                                    <label for="company_name">{{'Company Name (Optional)' | translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-1 fixapptextinput">
                                                <app-text-input formControlName="firstname"
                                                    [label]="'First Name'"></app-text-input>
                                            </div>
                                            <div class="col-md-6 mb-1 fixapptextinput">
                                                <app-text-input formControlName="lastname"
                                                    [label]="'Last Name'"></app-text-input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-1 fixapptextinput">
                                                <app-text-input formControlName="street"
                                                    [label]="'Street Address'"></app-text-input>
                                            </div>
                                            <div class="col-md-6 mb-1 fixapptextinput">
                                                <app-text-input formControlName="city"
                                                    [label]="'City'"></app-text-input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-1">
                                                <div class="form-floating">
                                                    <select class="form-select fixapptextinput" id="province" aria-label="province" formControlName="province" (change)="selectionChanged($event)"
                                                        [ngClass]="(this.addressBook.get('defaultAddressForm.province') && this.addressBook.get('defaultAddressForm.province')!.touched) ? this.addressBook.get('defaultAddressForm.province')!.status == 'VALID' ? 'is-valid' : 'is-invalid' : null">
                                                        <option value="" selected>{{'Province' | translate}}</option>
                                                        <option value="กรุงเทพมหานคร - Bangkok">กรุงเทพมหานคร - Bangkok</option>
                                                        <option value="กระบี่ - Krabi">กระบี่ - Krabi</option>
                                                        <option value="กาญจนบุรี - Kanchanaburi">กาญจนบุรี - Kanchanaburi</option>
                                                        <option value="กาฬสินธุ์ - Kalasin">กาฬสินธุ์ - Kalasin</option>
                                                        <option value="กำแพงเพชร - Kamphaeng Phet">กำแพงเพชร - Kamphaeng Phet</option>
                                                        <option value="ขอนแก่น - Khon Kaen">ขอนแก่น - Khon Kaen</option>
                                                        <option value="จันทบุรี - Chanthaburi">จันทบุรี - Chanthaburi</option>
                                                        <option value="ฉะเชิงเทรา - Chachoengsao">ฉะเชิงเทรา - Chachoengsao</option>
                                                        <option value="ชลบุรี - Chonburi">ชลบุรี - Chonburi</option>
                                                        <option value="ชัยนาท - Chainat">ชัยนาท - Chainat</option>
                                                        <option value="ชัยภูมิ - Chaiyaphum">ชัยภูมิ - Chaiyaphum</option>
                                                        <option value="ชุมพร - Chumphon">ชุมพร - Chumphon</option>
                                                        <option value="เชียงราย - Chiang Rai">เชียงราย - Chiang Rai</option>
                                                        <option value="เชียงใหม่ - Chiang Mai">เชียงใหม่ - Chiang Mai</option>
                                                        <option value="ตรัง - Trang">ตรัง - Trang</option>
                                                        <option value="ตราด - Trat">ตราด - Trat</option>
                                                        <option value="ตาก - Tak">ตาก - Tak</option>
                                                        <option value="นครนายก - Nakhon Nayok">นครนายก - Nakhon Nayok</option>
                                                        <option value="นครปฐม - Nakhon Pathom">นครปฐม - Nakhon Pathom</option>
                                                        <option value="นครพนม - Nakhon Phanom">นครพนม - Nakhon Phanom</option>
                                                        <option value="นครราชสีมา - Nakhon Ratchasima">นครราชสีมา - Nakhon Ratchasima</option>
                                                        <option value="นครศรีธรรมราช - Nakhon Si Thammarat">นครศรีธรรมราช - Nakhon Si Thammarat</option>
                                                        <option value="นครสวรรค์ - Nakhon Sawan">นครสวรรค์ - Nakhon Sawan</option>
                                                        <option value="นนทบุรี - Nonthaburi">นนทบุรี - Nonthaburi</option>
                                                        <option value="นราธิวาส - Narathiwat">นราธิวาส - Narathiwat</option>
                                                        <option value="น่าน - Nan">น่าน - Nan</option>
                                                        <option value="บึงกาฬ - Bueng Kan">บึงกาฬ - Bueng Kan</option>
                                                        <option value="บุรีรัมย์ - Buriram">บุรีรัมย์ - Buriram</option>
                                                        <option value="ปทุมธานี - Pathum Thani">ปทุมธานี - Pathum Thani</option>
                                                        <option value="ประจวบคีรีขันธ์ - Prachuap Khiri Khan">ประจวบคีรีขันธ์ - Prachuap Khiri Khan</option>
                                                        <option value="ปราจีนบุรี - Prachinburi">ปราจีนบุรี - Prachinburi</option>
                                                        <option value="ปัตตานี - Pattani">ปัตตานี - Pattani</option>
                                                        <option value="พระนครศรีอยุธยา - Phra Nakhon Si Ayutthaya">พระนครศรีอยุธยา - Phra Nakhon Si Ayutthaya</option>
                                                        <option value="พะเยา - Phayao">พะเยา - Phayao</option>
                                                        <option value="พังงา - Phang Nga">พังงา - Phang Nga</option>
                                                        <option value="พัทลุง - Phatthalung">พัทลุง - Phatthalung</option>
                                                        <option value="พิจิตร - Phichit">พิจิตร - Phichit</option>
                                                        <option value="พิษณุโลก - Phitsanulok">พิษณุโลก - Phitsanulok</option>
                                                        <option value="เพชรบุรี - Phetchaburi">เพชรบุรี - Phetchaburi</option>
                                                        <option value="เพชรบูรณ์ - Phetchabun">เพชรบูรณ์ - Phetchabun</option>
                                                        <option value="แพร่ - Phrae">แพร่ - Phrae</option>
                                                        <option value="ภูเก็ต - Phuket">ภูเก็ต - Phuket</option>
                                                        <option value="มหาสารคาม - Maha Sarakham">มหาสารคาม - Maha Sarakham</option>
                                                        <option value="มุกดาหาร - Mukdahan">มุกดาหาร - Mukdahan</option>
                                                        <option value="แม่ฮ่องสอน - Mae Hong Son">แม่ฮ่องสอน - Mae Hong Son</option>
                                                        <option value="ยโสธร - Yasothon">ยโสธร - Yasothon</option>
                                                        <option value="ยะลา - Yala">ยะลา - Yala</option>
                                                        <option value="ร้อยเอ็ด - Roi Et">ร้อยเอ็ด - Roi Et</option>
                                                        <option value="ระนอง - Ranong">ระนอง - Ranong</option>
                                                        <option value="ระยอง - Rayong">ระยอง - Rayong</option>
                                                        <option value="ราชบุรี - Ratchaburi">ราชบุรี - Ratchaburi</option>
                                                        <option value="ลพบุรี - Lopburi">ลพบุรี - Lopburi</option>
                                                        <option value="ลำปาง - Lampang">ลำปาง - Lampang</option>
                                                        <option value="ลำพูน - Lamphun">ลำพูน - Lamphun</option>
                                                        <option value="เลย - Loei">เลย - Loei</option>
                                                        <option value="ศรีสะเกษ - Sisaket">ศรีสะเกษ - Sisaket</option>
                                                        <option value="สกลนคร - Sakon Nakhon">สกลนคร - Sakon Nakhon</option>
                                                        <option value="สงขลา - Songkhla">สงขลา - Songkhla</option>
                                                        <option value="สตูล - Satun">สตูล - Satun</option>
                                                        <option value="สมุทรปราการ - Samut Prakan">สมุทรปราการ - Samut Prakan</option>
                                                        <option value="สมุทรสงคราม - Samut Songkhram">สมุทรสงคราม - Samut Songkhram</option>
                                                        <option value="สมุทรสาคร - Samut Sakhon">สมุทรสาคร - Samut Sakhon</option>
                                                        <option value="สระแก้ว - Sa Kaeo">สระแก้ว - Sa Kaeo</option>
                                                        <option value="สระบุรี - Saraburi">สระบุรี - Saraburi</option>
                                                        <option value="สิงห์บุรี - Sing Buri">สิงห์บุรี - Sing Buri</option>
                                                        <option value="สุโขทัย - Sukhothai">สุโขทัย - Sukhothai</option>
                                                        <option value="สุพรรณบุรี - Suphan Buri">สุพรรณบุรี - Suphan Buri</option>
                                                        <option value="สุราษฎร์ธานี - Surat Thani">สุราษฎร์ธานี - Surat Thani</option>
                                                        <option value="สุรินทร์ - Surin">สุรินทร์ - Surin</option>
                                                        <option value="หนองคาย - Nong Khai">หนองคาย - Nong Khai</option>
                                                        <option value="หนองบัวลำภู - Nong Bua Lamphu">หนองบัวลำภู - Nong Bua Lamphu</option>
                                                        <option value="อ่างทอง - Ang Thong">อ่างทอง - Ang Thong</option>
                                                        <option value="อำนาจเจริญ - Amnat Charoen">อำนาจเจริญ - Amnat Charoen</option>
                                                        <option value="อุดรธานี - Udon Thani">อุดรธานี - Udon Thani</option>
                                                        <option value="อุตรดิตถ์ - Uttaradit">อุตรดิตถ์ - Uttaradit</option>
                                                        <option value="อุทัยธานี - Uthai Thani">อุทัยธานี - Uthai Thani</option>
                                                        <option value="อุบลราชธานี - Ubon Ratchathani">อุบลราชธานี - Ubon Ratchathani</option>
                                                        <!-- <option value="อื่นๆ">อื่นๆ</option> -->
                                                    </select>
                                                    <label for="province">{{'Province' | translate}}</label>
                                                </div>
                                                <div class="invalid-feedback"
                                                    *ngIf="(this.addressBook.get('defaultAddressForm.province') && this.addressBook.get('defaultAddressForm.province')!.status != 'VALID' && this.addressBook.get('defaultAddressForm.province')!.touched)">
                                                    <span>{{'Please select province' | translate}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-1">
                                                <div class="form-floating">
                                                    <input type="number" zipcode formControlName="zipcode" class="form-control fixapptextinput" id="zipcode" placeholder="Zip Code"
                                                        [ngClass]="(this.addressBook.get('defaultAddressForm.zipcode') && this.addressBook.get('defaultAddressForm.zipcode')!.touched) ? this.addressBook.get('defaultAddressForm.zipcode')!.status == 'VALID' ? 'is-valid' : 'is-invalid' : null">
                                                    <label for="zipcode">{{'Zip Code' | translate}}</label>
                                                </div>
                                                <div class="invalid-feedback"
                                                    *ngIf="(this.addressBook.get('defaultAddressForm.zipcode') && this.addressBook.get('defaultAddressForm.zipcode')!.status != 'VALID' && this.addressBook.get('defaultAddressForm.zipcode')!.touched)">
                                                    <span>{{'Zip code is required' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- <div class="col-md-6 mb-1 fixapptextinput">
                                                <app-text-input formControlName="email" [label]="'Email'" [type]="'email'"></app-text-input>
                                            </div> -->
                                            <div class="col-md-12 mb-1">
                                                <div class="form-floating">
                                                    <input type="text" (keyup)="forceValueDefaultAddressForm($event)" phoneMask formControlName="tel" class="form-control fixapptextinput" id="tel" placeholder="Telephone Number"
                                                        [ngClass]="(this.addressBook.get('defaultAddressForm.tel') && this.addressBook.get('defaultAddressForm.tel')!.touched) ? this.addressBook.get('defaultAddressForm.tel')!.status == 'VALID' ? 'is-valid' : 'is-invalid' : null">
                                                    <label for="tel">{{'Telephone Number' | translate}}</label>
                                                </div>
                                                <div class="invalid-feedback"
                                                    *ngIf="(this.addressBook.get('defaultAddressForm.tel') && this.addressBook.get('defaultAddressForm.tel')!.status != 'VALID' && this.addressBook.get('defaultAddressForm.tel')!.touched)">
                                                    <span>{{'Telephone Number is required' | translate}}</span>
                                                </div>
                                                <!-- <app-text-input phoneMask formControlName="tel" [label]="'Telephone Number'" [type]="'number'"></app-text-input> -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 mb-1 fixapptextinput">
                                                <app-text-input formControlName="email" [label]="'Email'" [isDisabled]="true"></app-text-input>
                                            </div>
                                        </div>
                                        <div class="mb-3 mb-2">
                                            <ul class="text-danger list-unstyle" *ngIf="this.errors">
                                                <li *ngFor="let error of this.errors">
                                                    {{error}}
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-solid mb-3" [disabled]="this.addressBook.get('defaultAddressForm')!.invalid">{{'Save Default Address' | translate}}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box-account box-info">
                            <!-- <div class="box-head">
                                <h2>Default Billing Address</h2>
                            </div> -->
                            <div>
                                <div class="box">
                                    <div class="box-title">
                                        <!-- <h3>Billing Address</h3> -->
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="chkUsedBilling" [checked]="isUsedBillingAddress" [disabled]="disabledBillingAddress"
                                                (change)="eventUsedBilling()">
                                            <h3 class="form-check-label fixline" for="chkUsedBilling">{{'Billing Address' | translate}}
                                            </h3>
                                            <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Billing Address</label> -->
                                        </div>
                                    </div>
                                    <form class="theme-form theme-card" formGroupName="billingAddressForm" (ngSubmit)="onSubmitBillingAddress()" *ngIf="isUsedBillingAddress">
                                        <div class="row">
                                            <div class="col-md-12 mb-1">
                                                <div class="form-floating">
                                                    <input type="text" id="Company Name (Optional)"
                                                        formControlName="b_company_name" class="form-control" id="b_company_name"
                                                        placeholder="Company Name (Optional)">
                                                    <label for="floatingInput">{{'Company Name (Optional)' | translate}}</label>
                                                </div>
                                                <!-- <app-text-input formControlName="company_name" [label]="'Company Name (Optional)'" [type]="'text'"></app-text-input> -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-1 fixapptextinput">
                                                <app-text-input formControlName="b_firstname" [label]="'Billing First Name'"></app-text-input>
                                            </div>
                                            <div class="col-md-6 mb-1 fixapptextinput">
                                                <app-text-input formControlName="b_lastname" [label]="'Billing Last Name'"></app-text-input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-1 fixapptextinput">
                                                <app-text-input formControlName="b_street" [label]="'Billing Street Address'"></app-text-input>
                                            </div>
                                            <div class="col-md-6 mb-1 fixapptextinput">
                                                <app-text-input formControlName="b_city" [label]="'Billing City'"></app-text-input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-1">
                                                <div class="form-floating">
                                                    <select class="form-select fixapptextinput" id="b_province" aria-label="province" formControlName="b_province" (change)="selectionBillingChanged($event)"
                                                        [ngClass]="(this.addressBook.get('billingAddressForm.b_province') && this.addressBook.get('billingAddressForm.b_province')!.touched) ? this.addressBook.get('billingAddressForm.b_province')!.status == 'VALID' ? 'is-valid' : 'is-invalid' : null">
                                                        <option value="" selected>{{'Province' | translate}}</option>
                                                        <option value="กรุงเทพมหานคร - Bangkok">กรุงเทพมหานคร - Bangkok</option>
                                                        <option value="กระบี่ - Krabi">กระบี่ - Krabi</option>
                                                        <option value="กาญจนบุรี - Kanchanaburi">กาญจนบุรี - Kanchanaburi</option>
                                                        <option value="กาฬสินธุ์ - Kalasin">กาฬสินธุ์ - Kalasin</option>
                                                        <option value="กำแพงเพชร - Kamphaeng Phet">กำแพงเพชร - Kamphaeng Phet</option>
                                                        <option value="ขอนแก่น - Khon Kaen">ขอนแก่น - Khon Kaen</option>
                                                        <option value="จันทบุรี - Chanthaburi">จันทบุรี - Chanthaburi</option>
                                                        <option value="ฉะเชิงเทรา - Chachoengsao">ฉะเชิงเทรา - Chachoengsao</option>
                                                        <option value="ชลบุรี - Chonburi">ชลบุรี - Chonburi</option>
                                                        <option value="ชัยนาท - Chainat">ชัยนาท - Chainat</option>
                                                        <option value="ชัยภูมิ - Chaiyaphum">ชัยภูมิ - Chaiyaphum</option>
                                                        <option value="ชุมพร - Chumphon">ชุมพร - Chumphon</option>
                                                        <option value="เชียงราย - Chiang Rai">เชียงราย - Chiang Rai</option>
                                                        <option value="เชียงใหม่ - Chiang Mai">เชียงใหม่ - Chiang Mai</option>
                                                        <option value="ตรัง - Trang">ตรัง - Trang</option>
                                                        <option value="ตราด - Trat">ตราด - Trat</option>
                                                        <option value="ตาก - Tak">ตาก - Tak</option>
                                                        <option value="นครนายก - Nakhon Nayok">นครนายก - Nakhon Nayok</option>
                                                        <option value="นครปฐม - Nakhon Pathom">นครปฐม - Nakhon Pathom</option>
                                                        <option value="นครพนม - Nakhon Phanom">นครพนม - Nakhon Phanom</option>
                                                        <option value="นครราชสีมา - Nakhon Ratchasima">นครราชสีมา - Nakhon Ratchasima</option>
                                                        <option value="นครศรีธรรมราช - Nakhon Si Thammarat">นครศรีธรรมราช - Nakhon Si Thammarat</option>
                                                        <option value="นครสวรรค์ - Nakhon Sawan">นครสวรรค์ - Nakhon Sawan</option>
                                                        <option value="นนทบุรี - Nonthaburi">นนทบุรี - Nonthaburi</option>
                                                        <option value="นราธิวาส - Narathiwat">นราธิวาส - Narathiwat</option>
                                                        <option value="น่าน - Nan">น่าน - Nan</option>
                                                        <option value="บึงกาฬ - Bueng Kan">บึงกาฬ - Bueng Kan</option>
                                                        <option value="บุรีรัมย์ - Buriram">บุรีรัมย์ - Buriram</option>
                                                        <option value="ปทุมธานี - Pathum Thani">ปทุมธานี - Pathum Thani</option>
                                                        <option value="ประจวบคีรีขันธ์ - Prachuap Khiri Khan">ประจวบคีรีขันธ์ - Prachuap Khiri Khan</option>
                                                        <option value="ปราจีนบุรี - Prachinburi">ปราจีนบุรี - Prachinburi</option>
                                                        <option value="ปัตตานี - Pattani">ปัตตานี - Pattani</option>
                                                        <option value="พระนครศรีอยุธยา - Phra Nakhon Si Ayutthaya">พระนครศรีอยุธยา - Phra Nakhon Si Ayutthaya</option>
                                                        <option value="พะเยา - Phayao">พะเยา - Phayao</option>
                                                        <option value="พังงา - Phang Nga">พังงา - Phang Nga</option>
                                                        <option value="พัทลุง - Phatthalung">พัทลุง - Phatthalung</option>
                                                        <option value="พิจิตร - Phichit">พิจิตร - Phichit</option>
                                                        <option value="พิษณุโลก - Phitsanulok">พิษณุโลก - Phitsanulok</option>
                                                        <option value="เพชรบุรี - Phetchaburi">เพชรบุรี - Phetchaburi</option>
                                                        <option value="เพชรบูรณ์ - Phetchabun">เพชรบูรณ์ - Phetchabun</option>
                                                        <option value="แพร่ - Phrae">แพร่ - Phrae</option>
                                                        <option value="ภูเก็ต - Phuket">ภูเก็ต - Phuket</option>
                                                        <option value="มหาสารคาม - Maha Sarakham">มหาสารคาม - Maha Sarakham</option>
                                                        <option value="มุกดาหาร - Mukdahan">มุกดาหาร - Mukdahan</option>
                                                        <option value="แม่ฮ่องสอน - Mae Hong Son">แม่ฮ่องสอน - Mae Hong Son</option>
                                                        <option value="ยโสธร - Yasothon">ยโสธร - Yasothon</option>
                                                        <option value="ยะลา - Yala">ยะลา - Yala</option>
                                                        <option value="ร้อยเอ็ด - Roi Et">ร้อยเอ็ด - Roi Et</option>
                                                        <option value="ระนอง - Ranong">ระนอง - Ranong</option>
                                                        <option value="ระยอง - Rayong">ระยอง - Rayong</option>
                                                        <option value="ราชบุรี - Ratchaburi">ราชบุรี - Ratchaburi</option>
                                                        <option value="ลพบุรี - Lopburi">ลพบุรี - Lopburi</option>
                                                        <option value="ลำปาง - Lampang">ลำปาง - Lampang</option>
                                                        <option value="ลำพูน - Lamphun">ลำพูน - Lamphun</option>
                                                        <option value="เลย - Loei">เลย - Loei</option>
                                                        <option value="ศรีสะเกษ - Sisaket">ศรีสะเกษ - Sisaket</option>
                                                        <option value="สกลนคร - Sakon Nakhon">สกลนคร - Sakon Nakhon</option>
                                                        <option value="สงขลา - Songkhla">สงขลา - Songkhla</option>
                                                        <option value="สตูล - Satun">สตูล - Satun</option>
                                                        <option value="สมุทรปราการ - Samut Prakan">สมุทรปราการ - Samut Prakan</option>
                                                        <option value="สมุทรสงคราม - Samut Songkhram">สมุทรสงคราม - Samut Songkhram</option>
                                                        <option value="สมุทรสาคร - Samut Sakhon">สมุทรสาคร - Samut Sakhon</option>
                                                        <option value="สระแก้ว - Sa Kaeo">สระแก้ว - Sa Kaeo</option>
                                                        <option value="สระบุรี - Saraburi">สระบุรี - Saraburi</option>
                                                        <option value="สิงห์บุรี - Sing Buri">สิงห์บุรี - Sing Buri</option>
                                                        <option value="สุโขทัย - Sukhothai">สุโขทัย - Sukhothai</option>
                                                        <option value="สุพรรณบุรี - Suphan Buri">สุพรรณบุรี - Suphan Buri</option>
                                                        <option value="สุราษฎร์ธานี - Surat Thani">สุราษฎร์ธานี - Surat Thani</option>
                                                        <option value="สุรินทร์ - Surin">สุรินทร์ - Surin</option>
                                                        <option value="หนองคาย - Nong Khai">หนองคาย - Nong Khai</option>
                                                        <option value="หนองบัวลำภู - Nong Bua Lamphu">หนองบัวลำภู - Nong Bua Lamphu</option>
                                                        <option value="อ่างทอง - Ang Thong">อ่างทอง - Ang Thong</option>
                                                        <option value="อำนาจเจริญ - Amnat Charoen">อำนาจเจริญ - Amnat Charoen</option>
                                                        <option value="อุดรธานี - Udon Thani">อุดรธานี - Udon Thani</option>
                                                        <option value="อุตรดิตถ์ - Uttaradit">อุตรดิตถ์ - Uttaradit</option>
                                                        <option value="อุทัยธานี - Uthai Thani">อุทัยธานี - Uthai Thani</option>
                                                        <option value="อุบลราชธานี - Ubon Ratchathani">อุบลราชธานี - Ubon Ratchathani</option>
                                                        <!-- <option value="อื่นๆ">อื่นๆ</option> -->
                                                    </select>
                                                    <label for="b_province">{{'Province' | translate}}</label>
                                                </div>
                                                <div class="invalid-feedback"
                                                    *ngIf="(this.addressBook.get('billingAddressForm.b_province') && this.addressBook.get('billingAddressForm.b_province')!.status != 'VALID' && this.addressBook.get('billingAddressForm.b_province')!.touched)">
                                                    <span>{{'Please select province' | translate}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-1">
                                                <div class="form-floating">
                                                    <input type="number" zipcode formControlName="b_zipcode" class="form-control fixapptextinput" id="b_zipcode" placeholder="Zip Code"
                                                        [ngClass]="(this.addressBook.get('billingAddressForm.b_zipcode') && this.addressBook.get('billingAddressForm.b_zipcode')!.touched) ? this.addressBook.get('billingAddressForm.b_zipcode')!.status == 'VALID' ? 'is-valid' : 'is-invalid' : null">
                                                    <label for="b_zipcode">{{'Zip Code' | translate}}</label>
                                                </div>
                                                <div class="invalid-feedback"
                                                    *ngIf="(this.addressBook.get('billingAddressForm.b_zipcode') && this.addressBook.get('billingAddressForm.b_zipcode')!.status != 'VALID' && this.addressBook.get('billingAddressForm.b_zipcode')!.touched)">
                                                    <span>{{'Zip code is required' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- <div class="col-md-6 mb-1 fixapptextinput">
                                                <app-text-input formControlName="b_email" [label]="'Email'" [type]="'email'"></app-text-input>
                                            </div> -->
                                            <div class="col-md-12 mb-1">
                                                <div class="form-floating">
                                                    <input type="text" (keyup)="forceValueBillingAddressForm($event)" phoneMask formControlName="b_tel" class="form-control fixapptextinput" id="b_tel" placeholder="Telephone Number"
                                                        [ngClass]="(this.addressBook.get('billingAddressForm.b_tel') && this.addressBook.get('billingAddressForm.b_tel')!.touched) ? this.addressBook.get('billingAddressForm.b_tel')!.status == 'VALID' ? 'is-valid' : 'is-invalid' : null">
                                                    <label for="tel">{{'Telephone Number' | translate}}</label>
                                                </div>
                                                <div class="invalid-feedback"
                                                    *ngIf="(this.addressBook.get('billingAddressForm.b_tel') && this.addressBook.get('billingAddressForm.b_tel')!.status != 'VALID' && this.addressBook.get('billingAddressForm.b_tel')!.touched)">
                                                    <span>{{'Telephone Number is required' | translate}}</span>
                                                </div>
                                                <!-- <app-text-input phoneMask formControlName="tel" [label]="'Telephone Number'" [type]="'number'"></app-text-input> -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 mb-1 fixapptextinput">
                                                <app-text-input formControlName="b_email" [label]="'Email'" [isDisabled]="true"></app-text-input>
                                            </div>
                                        </div>
                                        <div class="mb-3 mb-2">
                                            <ul class="text-danger list-unstyle" *ngIf="this.errorsBillingAddress">
                                                <li *ngFor="let error of this.errorsBillingAddress">
                                                    {{error}}
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-solid mb-3" [disabled]="this.addressBook.get('billingAddressForm')!.invalid">{{'Save Billing Address' | translate}}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->