<ul class="product-social">
    <li>
      <a href="https://www.facebook.com/" aria-label="facebook">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/discover" aria-label="google">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/" aria-label="twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/" aria-label="instagram">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
</ul>