<app-breadcrumb [title]="'Dashboard'" [breadcrumb]="'Dashboard'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mobileSidenav" [class.openSide]="this.openDashboard">
                <a href="javascript:void(0)" class="overlay" (click)="ToggleDashboard()"></a>
                <div class="dashboard-left" [class.open]="this.openDashboard">
                    <div class="collection-mobile-back" (click)="ToggleDashboard()">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> {{'Back' | translate}}
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a [routerLink]="['/pages/dashboard']">{{'Account Info' | translate}}</a></li>
                            <li><a [routerLink]="['/pages/dashboard/addressbook']">{{'Address Book' | translate}}</a></li>
                            <li><a [routerLink]="['/pages/dashboard/order']">{{'My Orders' | translate}}</a></li>
                            <li class="active"><a [routerLink]="['/pages/dashboard/changepassword']">{{'Change Password' | translate}}</a></li>
                            <li class="last"><a (click)="logout()" href="javascript:void(0)">{{'Logout' | translate}}</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>{{'Change Password' | translate}}</h2>
                        </div>
                        <div class="welcome-msg">
                            <p>{{'You can change your password here' | translate}}</p>
                        </div>
                        <div class="box-account box-info">
                            <form class="theme-form theme-card" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                                <div class="row mb-1">
                                    <div class="col-md-12 fixapptextinput">
                                        <app-text-input formControlName="current_password" [label]="'Current Password'" [type]="'password'"></app-text-input>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-12 mb-1">
                                        <div class="form-floating">
                                            <input type="password" formControlName="new_password" class="form-control fixapptextinput" id="new_password" placeholder="New Password"
                                                [ngClass]="(this.changePasswordForm.get('new_password') && this.changePasswordForm.get('new_password')!.touched) ? this.changePasswordForm.get('new_password')!.status == 'VALID' ? 'is-valid' : 'is-invalid' : null">
                                            <label for="zipcode">{{'New Password' | translate}}</label>
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="(this.changePasswordForm.get('new_password') && this.changePasswordForm.get('new_password')!.status != 'VALID' && this.changePasswordForm.get('new_password')!.touched)">
                                            <span>{{'New Password is required' | translate}}</span>
                                        </div>
                                    </div>                                    
                                </div>   

                                <div class="row mb-1">
                                    <div class="col-md-12 mb-1">
                                        <div class="form-floating">
                                            <input type="password" formControlName="new_password_again" class="form-control fixapptextinput" id="new_password_again" placeholder="Confirm Password"
                                                [ngClass]="(this.changePasswordForm.get('new_password_again') && this.changePasswordForm.get('new_password_again')!.touched) ? this.changePasswordForm.get('new_password_again')!.status == 'VALID' && this.changePasswordForm.errors === null ? 'is-valid' : 'is-invalid' : null">
                                            <label for="zipcode">{{'Confirm New Password' | translate}}</label>
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="(this.changePasswordForm.get('new_password_again') && this.changePasswordForm.get('new_password_again')!.status != 'VALID' && this.changePasswordForm.get('new_password_again')!.touched)">
                                            <span>{{'Confirm New Password is required' | translate}}</span>
                                        </div>
                                    </div>                                    
                                </div>                                

                                <div class="mb-3">
                                    <ul class="text-danger list-unstyled" *ngIf="this.errors">
                                        <li *ngFor="let error of this.errors">
                                            {{error}}
                                        </li>
                                    </ul>
                                </div>                
                                <button class="btn btn-solid" [disabled]="changePasswordForm.invalid || loading">{{'Change Password' | translate}}</button>
                                <div class="row mt-3">
                                    <p>{{'Password must have at least' | translate}} <b>{{'8 characters' | translate}}</b> <b>{{'with at least 1 capital letter' | translate}}</b>, <b>{{'at least 1 lower case letter' | translate}}</b> {{'and' | translate}} <b>{{'at least 1 number or 1 special character' | translate}}</b></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->