<app-breadcrumb [title]="'เพาะเมล็ด ซาโวรี'" [breadcrumb]="'เพาะเมล็ด ซาโวรี'"></app-breadcrumb>
<!--section start-->
<section class="blog-detail-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">
                <img [src]="this.savoryImg" [attr.srcset]="this.srcset" sizes="{{this.sizes}}" class="img-fluid" alt="เพาะเมล็ด ซาโวรี" width="1370" height="385" priority/>
                <h3>เพาะเมล็ด ซาโวรี</h3>
                <ul class="post-social">
                    <li>01 {{'March' | translate }} 2023 </li>
                    <li>{{'Posted By' | translate }} : Herbist Admin </li>
                    <li><i class="fa fa-heart"></i> {{count}} Hits </li>
                </ul>
                <h4>วัสดุและอุปกรณ์ที่ต้องเตรียมสำหรับการเพาะเมล็ด</h4>
                <ol>
                    <li>เมล็ดพันธุ์ซัมเมอร์ ซาโวรี 1 ซอง</li>
                    <li>พีทมอส</li>
                    <li>ภาชนะที่ใช้เพาะเมล็ด</li>
                    <li>ฟิล์มถนอมอาหาร (ไม่จำเป็น หากภาชนะที่ใช้เพาะเมล็ดมีฝาปิด)</li>
                    <li>กระบอกฉีดน้ำ หรือ ฟ๊อกกี้</li>
                </ol>
                <h4>เพาะเมล็ด ซาโวรีในภาชนะปลูกดีที่สุด</h4>
                <p>หยอดเมล็ดหรือหว่านเมล็ดลงในภาชนะปลูก(อาจใช้กระถางขนาดเล็กก่อนก็ได้)โดยตรง กระถางละประมาณ 10-20 เมล็ดสำหรับกระถางเล็ก หรือ 40-50 เมล็ดสำหรับกระถางใหญ่ กลบด้วยพีทมอสให้บางที่สุดไม่ควรเกิน 1-2 มิลลิเมตร หรือใช้นิ้วกดลงไปที่เมล็ดเบาๆโดยให้เมล็ดจมอยู่ในพีทมอส พรมน้ำให้ชุ่ม จากนั้นใช้ฟิล์มถนอมอาหารปิดทับภาชนะปลูกเพื่อรักษาอุณหภูมิและความชื้นให้คงที่(หากไม่ใช้ฟิล์มถนอมอาหารปิดทับ ควรหมั่นดูแลความชื้นอย่างสม่ำเสมอ) วางภาชนะปลูกในที่ที่มีแสงสว่างและรักษาความชื้นจนกว่าเมล็ดจะงอก ซึ่งอาจใช้ระยะเวลา 7-14 วันโดยประมาณ เมื่อต้นกล้าเริ่มงอกให้วางภาชนะปลูกในที่ที่มีแสงแดดรำไร เมื่อต้นกล้าแข็งแรงดีหรือมีใบเลี้ยง 4-6 ใบ ให้ทำการย้ายต้นกล้าไปปลูกยังกระถางที่ใหญ่ขึ้นสำหรับสภาพอากาศในประเทศไทย ควรปลูกในกระถางขนาด 8 นิ้วขึ้นไปเป็นอย่างยิ่ง(ยิ่งใหญ่ยิ่งดี) เพื่อสะดวกต่อการเคลื่อนย้าย</p>
                <h4>ปลูกลงแปลงปลูก</h4>
                <p>หว่านเมล็ดลงในแปลงเพาะในบริเวณที่เหมาะสม (โดยคำนึงถึงปริมาณแสงแดดด้วย) กลบด้วยพีทมอสให้บางที่สุดไม่ควรเกิน 1-2 มิลลิเมตร พรมน้ำให้ชุ่มและรักษาความชื้นจนกว่าเมล็ดจะงอก หมั่นถอนวัชพืชออก รดน้ำและรักษาความชื้นอย่างสม่ำเสมอ เมื่อต้นกล้ามีความสูง 2-3 นิ้ว ให้ทำการถอนต้นกล้าที่ไม่สมบูรณ์ออก โดยแบ่งเป็นกลุ่ม กลุ่มละ 3-5 ต้น จนต้นกล้าแต่ละกลุ่มห่างกัน 12-18 นิ้ว เพื่อให้ต้นกล้ามีพื้นที่ในการเจริญเติบโตต่อไป</p>
                <h4>ทิป</h4>
                <p>เมล็ดพันธุ์ ซาโวรี นั้นเป็นเมล็ดพันธุ์ที่งอกง่าย ดังนั้นจึงสามารถเพาะเมล็ดลงในกระถางที่ต้องการปลูกได้เลย เช่นกระถางขนาด 8 นิ้ว หรือเพาะในกระถางเล็กก่อนเมื่อต้นกล้าแข็งแรงจึงย้ายไปปลูกในกระถางที่ใหญ่ขึ้น หลังจากที่ต้นกล้าเริ่มแข็งแรงหรือมีความสูง 2-3 นิ้ว ควรนำต้นกล้าออกปลูกภายนอกในสถานที่ที่มีแสงแดดส่องถึง อากาศถ่ายเทได้สะดวก โดยใช้กระถางที่ระบายน้ำได้เร็ว วัสดุปลูกที่มีความร่วนซุยสูงและระบายน้ำได้ดี เช่นดินร่วนปนทราย อาจผสมหินภูเขาไฟร่วมด้วย สำหรับสภาพอากาศในประเทศไทย ควรปลูกในกระถางขนาด 8 นิ้วขึ้นไปเป็นอย่างยิ่ง</p>
                <h4>เก็บเกี่ยวและใช้งาน</h4>
                <p>นิยมนำมาคลุกเคล้ากับเนื้อสัตว์ เช่น ไก่, หมู, เนื้อวัว, เนื้อแกะ และนำมาประกอบอาหารในเมนูถั่ว, สลัด, และซุปต่างๆได้อีกมากมาย</p>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->