<app-breadcrumb [title]="'เพาะเมล็ด ออเรนจ์ ไทม์'" [breadcrumb]="'เพาะเมล็ด ออเรนจ์ ไทม์'"></app-breadcrumb>
<!--section start-->
<section class="blog-detail-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">
                <img [src]="this.orangethymeImg" [attr.srcset]="this.srcset" sizes="{{this.sizes}}" class="img-fluid" alt="เพาะเมล็ด ออเรนจ์ ไทม์" width="1370" height="385" priority/>
                <!-- <img [src]="'assets/images/blog/orangethyme_h.webp'" class="img-fluid" alt="เพาะเมล็ด ออเรนจ์ ไทม์" fill priority sizes="1000vw"/> -->
                <h3>เพาะเมล็ด ออเรนจ์ ไทม์</h3>
                <ul class="post-social">
                    <li>01 {{'March' | translate }} 2023 </li>
                    <li>{{'Posted By' | translate }} : Herbist Admin </li>
                    <li><i class="fa fa-heart"></i> {{count}} Hits </li>
                </ul>
                <h4>วัสดุและอุปกรณ์ที่ต้องเตรียมสำหรับการเพาะเมล็ด</h4>
                <ol>
                    <li>เมล็ดพันธุ์ออเรนจ์ ไทม์ 1 ซอง</li>
                    <li>พีทมอส</li>
                    <li>ภาชนะที่ใช้เพาะเมล็ด</li>
                    <li>ฟิล์มถนอมอาหาร (ไม่จำเป็น หากภาชนะที่ใช้เพาะเมล็ดมีฝาปิด)</li>
                    <li>กระบอกฉีดน้ำ หรือ ฟ๊อกกี้</li>
                </ol>
                <h4>เพาะเมล็ดออเรนจ์ ไทม์ก่อนลงปลูกดีที่สุด</h4>
                <p>หยอดเมล็ดหรือหว่านเมล็ดลงในภาชนะปลูก(อาจใช้กระถางขนาดเล็กก่อนก็ได้)โดยตรงห่าง 1 นิ้ว
                    กลบด้วยพีทมอสให้บางที่สุดไม่ควรเกิน 1-2 มิลลิเมตร
                    หรือใช้นิ้วกดลงไปที่เมล็ดเบาๆโดยให้เมล็ดจมอยู่ในพีทมอส พรมน้ำให้ชุ่ม
                    จากนั้นใช้ฟิล์มถนอมอาหารปิดทับภาชนะปลูกเพื่อรักษาอุณหภูมิและความชื้นให้คงที่
                    วางภาชนะปลูกในที่ที่มีแสงสว่างและรักษาความชื้นจนกว่าเมล็ดจะงอก ซึ่งอาจใช้ระยะเวลา 14-21 วันโดยประมาณ
                    เมื่อต้นกล้าเริ่มงอกให้วางภาชนะปลูกในที่ที่มีแสงแดดรำไร หลังจากต้นกล้ามีใบเลี้ยง 2-4
                    ใบให้ทำการย้ายต้นกล้าไปปลูกยังกระถางที่ใหญ่ขึ้นอย่างระมัดระวังโดยอย่าให้รากเสียหาย
                    เมื่อต้นกล้ามีความสูง 2-3 นิ้วให้วางต้นกล้าไว้บริเวณที่มีแสงแดดรำไรภายนอก
                    เพื่อให้ต้นกล้าคุ้นชินกับแสงแดดก่อนทำการย้ายต้นกล้าไปยังสถานที่ปลูกกลางแจ้ง
                    สำหรับสภาพอากาศในประเทศไทย ควรปลูกในกระถางขนาด 6 นิ้วขึ้นไปเป็นอย่างยิ่ง เพื่อสะดวกต่อการเคลื่อนย้าย
                </p>
                <h4>ปลูกลงแปลงปลูก</h4>
                <p>หว่านเมล็ดลงในแปลงเพาะในบริเวณที่เหมาะสม (โดยคำนึงถึงปริมาณแสงแดดด้วย) กลบด้วยพีทมอสให้บางที่สุดไม่ควรเกิน 1-2
                    มิลลิเมตร พรมน้ำให้ชุ่มและรักษาความชื้นจนกว่าเมล็ดจะงอก หมั่นถอนวัชพืชออก รดน้ำและรักษาความชื้นอย่างสม่ำเสมอ
                    เมื่อต้นกล้ามีความสูง 2-3 นิ้ว ให้ทำการถอนต้นกล้าที่ไม่สมบูรณ์ออก
                    (ต้นกล้าที่ไม่สมบูรณ์สามารถนำมาประกอบอาหารได้เช่นกัน) โดยแบ่งเป็นกลุ่ม กลุ่มละ 3-4 ต้น
                    จนต้นกล้าแต่ละกลุ่มห่างกัน 8 นิ้ว เพื่อให้ต้นกล้ามีพื้นที่ในการเจริญเติบโตต่อไป
                </p>
                <h4>ทิป</h4>
                <p>เมล็ดพันธุ์ Thyme ทุกสายพันธุ์จะใช้เวลาในการงอกค่อนข้างนาน เพื่อให้ง่ายต่อการดูแล
                    เราแนะนำให้เพาะเมล็ดก่อนทำการลงปลูกในกระถาง หลังจากที่ต้นกล้าเริ่มแข็งแรงหรือมีความสูง 2-3 นิ้ว
                    ควรนำต้นกล้าออกปลูกภายนอกในสถานที่ที่มีแสงแดดส่องถึง อากาศถ่ายเทได้สะดวก โดยใช้กระถางที่ระบายน้ำได้เร็ว
                    วัสดุปลูกที่มีความร่วนซุยสูงและระบายน้ำได้ดี เนื่องจากต้นไทม์ไม่ชอบให้รากเปียกชื้นเป็นเวลานาน
                    สำหรับสภาพอากาศในประเทศไทย ควรปลูกในกระถางขนาด 6 นิ้วขึ้นไปเป็นอย่างยิ่ง
                </p>
                <h4>เก็บเกี่ยวและใช้งาน</h4>
                <p>เก็บเกี่ยวกิ่งและใบสดได้เมื่อต้นโตเต็มที่ และสามารถใช้ในการปรุงอาหารจำพวกเนื้อสัตว์ ช่วยแต่งรสเนื้อวัว แกะ แพะ
                    ซอสผัก หรือน้ำสลัดให้มีรสชาติมากยิ่งขึ้น ไทม์ยังช่วยในการย่อยอาหาร แก้ท้องอืด และทำให้เจริญอาหาร
                    ยอดและใบนิยมนำมาทำเป็นชา และยังนำไปสกัดเป็นน้ำมัน Thyme ซึ่งไม่แพ้การใช้น้ำมันมะกอกหรือน้ำมันงา กลิ่นสดๆของไทม์
                    ดมแล้วทำให้ดีต่อระบบทางเดินหายใจอีกด้วย
                </p>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->




