<app-breadcrumb [title]="'Reset Password Successfully'" [breadcrumb]="'Reset Password Successfully'"></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-center">
                    <h2>{{'Reset Password Successfully' | translate}}</h2>
                </div>
                <div class="d-flex justify-content-center">
                    <p>{{'Your password has been successfully changed' | translate}}</p>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-solid" [routerLink]="['/pages/login']">{{'Login' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->